@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --coral:orangered;
    --light:rgb(168, 163, 163);
    --dark:rgb(44, 43, 43);
}
body{
    background-color: var(--dark);

}
a{
    text-decoration: none;
}


.flex{
    display: flex;
}
footer{
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-block-start: .5rem;
    z-index: 99;

}
footer i{
    margin: .5rem 1rem;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
header{
    padding-block: 1.5rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px gray  ;
    background-color: var(--dark);
    z-index: 99;
}
header i{
    color: maroon;

}
main{

   
}
.text-light{
    color: var(--light);
}